body{
    color:white;
    text-align: center;
    font-family: "Arial";
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}

#cabezera
{
    background: #33A;
    font-weight: bold;
    margin: 0;
    font-size: 0.5em;
    color: white;
}

#cabezera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1
{
    font-size: 20px;
}